In [1]:
import numpy as np
import pandas as pd

In [2]:
cd C:\Users\shahz\Downloads\alcohol consumption

C:\Users\shahz\Downloads\alcohol consumption

In [3]:
data = pd.read_csv('alcohol_cons.csv')
data.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

In [5]:
data.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

In [7]:
#The continent null values replaced by North America
data['continent'] = data['continent'].fillna("NA")

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     193 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

### 1. Which continent drinks more beer on average?

In [9]:
# Group by continent and calculate the average beer servings
average_beer_by_continent = data.groupby('continent')['beer_servings'].mean()

# Find the continent that drinks more beer on average
continent_with_most_beer = average_beer_by_continent.idxmax()

# Print the result
print(f"The continent that drinks more beer on average is: {continent_with_most_beer}")

The continent that drinks more beer on average is: EU

### 2. For each continent print the statistics for wine consumption

In [10]:
# Group by continent and print statistics for wine consumption
wine_statistics_by_continent = data.groupby('continent')['wine_servings'].describe()

# Print the result
print(wine_statistics_by_continent)

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
NA          23.0   24.521739  28.266378  1.0   5.0   11.0   34.00  100.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### 3. Print the mean alcohol consumption per continent for every column.

In [11]:
# Group by continent and calculate the mean for each column
mean_alcohol_consumption_by_continent = data.groupby('continent').mean()

# Print the result
print(mean_alcohol_consumption_by_continent)

           beer_servings  spirit_servings  wine_servings  \
continent
AF             61.471698        16.339623      16.264151
AS             37.045455        60.840909       9.068182
EU            193.777778       132.555556     142.222222
NA            145.434783       165.739130      24.521739
OC             89.687500        58.437500      35.625000
SA            175.083333       114.750000      62.416667

           total_litres_of_pure_alcohol
continent
AF                             3.007547
AS                             2.170455
EU                             8.617778
NA                             5.995652
OC                             3.381250
SA                             6.308333

C:\Users\shahz\AppData\Local\Temp\ipykernel_10384\2435786100.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mean_alcohol_consumption_by_continent = data.groupby('continent').mean()

### 4. Print the median alcohol consumption per continent for every column.

In [12]:
# Group by continent and calculate the median for each column
median_alcohol_consumption_by_continent = data.groupby('continent').median()

# Print the result
print(median_alcohol_consumption_by_continent)

           beer_servings  spirit_servings  wine_servings  \
continent
AF                  32.0              3.0            2.0
AS                  17.5             16.0            1.0
EU                 219.0            122.0          128.0
NA                 143.0            137.0           11.0
OC                  52.5             37.0            8.5
SA                 162.5            108.5           12.0

           total_litres_of_pure_alcohol
continent
AF                                 2.30
AS                                 1.20
EU                                10.00
NA                                 6.30
OC                                 1.75
SA                                 6.85

C:\Users\shahz\AppData\Local\Temp\ipykernel_10384\1466921860.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  median_alcohol_consumption_by_continent = data.groupby('continent').median()